<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="alert alert-danger col-6 offset-3 mt-5" role="alert">
    <h4>Error</h4>
    <p><%= err.message %></p>
    <% if (err.status) { %>
      <p>Status Code: <%= err.status %></p>
    <% } %>
  </div>
</div>
