body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #ec422b;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-links{
    text-decoration: none;
    color: #222222;
}

.f-info-links:hover{
    text-decoration: underline;
}

.f-info-links , .f-info-socials{
    vertical-align: middle;
    width: 100%;
}

.f-info-socials{
    width: 100%;
    font-size: 1.3rem;
}
.f-info-socials i{
    margin-right: 1rem;
}
.f-info-link , .f-info-socials , .f-info-brand{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* new */
.add-btn{
    background-color: #ec422b !important;
    border: none !important;
}

/* edit page */
.edit-btn{
    background-color: #ec422b !important;
    border: none !important;
}

/* cards */

.listing-card{
    border: none !important;
    margin-bottom:2rem ;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.Listing_link{
    text-decoration: none;
    
}

/* card Effects */

.card-img-overlay{
    opacity: 0;
}

.card:hover .card-img-overlay{
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* show page */

.show-page{
    height: 10vh;
    

}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}